<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.spring.alarm.model.dao.AlarmDao">
	<resultMap type="Alarm" id="alarmMap"></resultMap>
	<resultMap type="AlarmArg" id="alarmArgMap"></resultMap>
	
	<select id="checkAlarm" resultType="int">
		SELECT COUNT(*)
		FROM ALARM
		WHERE RECEIVER_ID = #{receiverId}
		AND READ_YN = 'N'
	</select>
	
	<select id="readAlarmList" resultMap="alarmMap">
		SELECT ALARM_NO, RECEIVER_ID, SENDER_ID, ALARM_MSG, ALARM_TIME, READ_YN, ALARM_STATUS, NO, TO_CHAR(ALARM_TIME, 'MM/DD HH24:MI') AS ALARM_TIME2
		FROM ALARM
		WHERE RECEIVER_ID = #{receiverId}
		ORDER BY ALARM_NO DESC
	</select>
	
	<update id="readYnUpdate">
		UPDATE ALARM
		SET READ_YN = 'Y'
		WHERE ALARM_NO = #{alarmNo}
	</update>
	
	<insert id="insertAlarm">
		INSERT INTO ALARM
		(ALARM_NO, RECEIVER_ID, SENDER_ID, ALARM_MSG, ALARM_TIME, READ_YN, ALARM_STATUS, NO)
		VALUES (
			SEQ_ALARM_NO.NEXTVAL,
			#{receiverId},
			#{senderId},
			#{alarmMsg},
			SYSDATE,
			#{readYn},
			#{alarmStatus},
			#{no}
		)
	</insert>
	
	<select id="selectAlarmArg" resultMap="alarmArgMap">
		SELECT M.USER_ID1, M.USER_ID2, G.GYM_NAME, M.MATCHDATE, M.MATCHTIME, M.NO, P1.PRO_NICK, P2.PRO_NICK AS PRO_NICK2
		FROM MATCH M
		JOIN GYM G ON M.GYM_NO = G.GYM_NO
		JOIN PROFILE P1 ON M.USER_ID1 = P1.USER_ID
		JOIN PROFILE P2 ON M.USER_ID2 = P2.USER_ID
		WHERE M.NO = #{no}
	</select>
</mapper>